<footer>
  <div class="border-t border-b border-verde py-14">
    <div class="dynamic-container flex flex-col md:flex-row md:justify-between">
      <img
        loading="lazy"
        class="h-8 object-contain"
        src="/logo/logo-blue.png"
        alt="logo"
      />

      <aside
        class="w-full flex flex-col items-center md:items-start text-center md:text-start md:flex-row md:justify-around"
      >
        <div>
          <h5 class="text-verde font-bold">Productos</h5>
          <footer class="text-sm">
            <p>Firewall</p>
            <p>Antivirus - Antiransomware</p>
            <p>Antispam</p>
            <p>Telefonía IP</p>
            <p>Red Hat</p>
            <p>SUSE Linux</p>
            <p>Certificados Digitales</p>
            <p>Storage</p>
          </footer>
        </div>
        <div>
          <h5 class="text-verde font-bold">Servicios</h5>
          <footer class="text-sm">
            <p>Ethical Hacking</p>
            <p>Servicio (IaaS) Gestionado</p>
            <p>Migración de Data Center</p>
            <p>Mantenimiento de Data Center</p>
            <p>Soporte de Servidores</p>
            <p>Outsourcing</p>
            <p>Monitoreo de Red</p>
          </footer>
        </div>
        <div>
          <h5 class="text-verde font-bold">Cloud y Data Center</h5>
          <footer class="text-sm">
            <p>Zimbra Cloud</p>
            <p>Servidores Cloud</p>
            <p>Drive Nextcloud</p>
            <p>Centralita PBX Cloud</p>
            <p>Virtualización</p>
            <p>Backup Cloud</p>
          </footer>
        </div>
        <div>
          <h5 class="text-verde font-bold">Certificación LPI</h5>
          <footer class="text-sm">
            <p>Certificación LPIC 1 Oficial</p>
            <p>Certificación LPIC 2 Oficial</p>
          </footer>
        </div>
      </aside>
    </div>
  </div>
  <footer
    class="dynamic-container py-6 flex flex-col gap-4 md:gap-0 md:flex-row justify-between text-sm text-textos text-center md:text-start"
  >
    <p>Tecmasoft(Dirección)</p>
    <p>Tecmasoft(Número)</p>
    <p>Tecmasoft(Email)</p>
    <p>Tecmasoft(Número)</p>
  </footer>
</footer>
