<section class="border-t border-b border-bordes">
  <div
    class="flex flex-col md:flex-row items-center justify-center gap-10 py-20 dynamic-container"
  >
    <img loading="lazy" class="h-10" src="/logo/logo-white.png" alt="logo" />
    <div class="h-[1px] md:h-[100px] w-[100px] md:w-[1px] bg-verde"></div>
    <p class="text-textos max-w-[60ch] text-center md:text-left">
      En TECMASOFT, estamos dedicados a ofrecer soluciones tecnológicas que van
      más allá de lo convencional. Con más de 15 años de experiencia, combinamos
      especialización y compromiso para impulsar el rendimiento y la seguridad
      de tu empresa. Descubre la excelencia tecnológica conTECMASOFT!
    </p>
  </div>
</section>
