<section class="h-screen w-full flex justify-center items-center">
  <div class="text-center flex flex-col gap-2 dynamic-container">
    <p class="text-5xl md:text-6xl font-semibold">
      Bienvenido a <span class="font-bold">TECMASOFT</span>
    </p>
    <p class="text-lg md:text-2xl text-verde font-semibold">
      Soluciones Tecnológicas Innovadoras para el Éxito Empresarial
    </p>
    <div class="flex justify-center">
      <p class="text-sm md:text-base max-w-[80ch]">
        En Tecmasoft, nos dedicamos a ofrecer consultoría de sistemas
        especializada para instituciones públicas y privadas. Con una
        trayectoria sólida y un compromiso innegable con la excelencia, nos
        enorgullece ofrecer servicios y productos que transforman desafíos en
        oportunidades.
      </p>
    </div>

    <footer class="flex gap-4 justify-center pt-6">
      <a
        class="bg-verde py-1 px-8 rounded-full text-black font-semibold shadow-card"
        href="#"
      >
        Servicios
      </a>
      <a
        class="bg-black py-1 px-8 rounded-full text-verde font-semibold shadow-card"
        href="#"
      >
        Productos
      </a>
    </footer>
  </div>
</section>

<style>
  section {
    background-image: url("/bg/bg-hero.svg"),
      radial-gradient(at center top, rgba(8, 33, 64, 0.8), rgba(3, 8, 12, 0.8));
    background-size: cover;
    background-position: center;
  }
</style>
