<section
  id="nosotros"
  class="dynamic-container flex flex-col gap-4 md:gap-0 md:flex-row justify-between items-center py-10"
>
  <div class="w-full md:w-[500px] flex flex-col gap-8">
    <header>
      <p class="text-4xl font-bold">Nosotros</p>
      <div class="w-[100px] h-[2px] bg-verde my-2"></div>
    </header>

    <p class="text-sm text-textos">
      En Tecmasoft, somos más que una consultora de sistemas; somos arquitectos
      de soluciones tecnológicas diseñadas para impulsar el éxito de
      instituciones públicas y privadas. Nos destacamos por nuestra
      especialización y compromiso, analizando a fondo cada proyecto para
      ofrecer respuestas precisas a las demandas del entorno.
    </p>

    <img
      loading="lazy"
      class="rounded-3xl w-4/5"
      src="/nosotros/nosotros2.jpg"
      alt="nosotros"
    />
  </div>

  <aside class="w-full md:w-[500px] flex flex-col gap-8">
    <div>
      <p class="text-xl font-bold">Visión</p>
      <p class="text-sm text-textos">
        Buscamos ser la empresa líder en tecnología y consultoría en el país,
        reconocida por la excelencia en proyectos de TI para instituciones
        públicas y privadas.
      </p>
    </div>

    <div>
      <p class="text-xl font-bold">Misión</p>
      <p class="text-sm text-textos">
        Contribuir al éxito de nuestros clientes ofreciendo servicios de
        calidad, basados en soluciones tecnológicas que no solo reducen costos,
        sino que también mejoran la competitividad de las empresas en el
        panorama peruano.
      </p>
    </div>
    <img
      loading="lazy"
      class="rounded-3xl w-4/5"
      src="/nosotros/nosotros1.jpg"
      alt="nosotros"
    />
  </aside>
</section>
