---
import SolucionesCard from "../components/SolucionesCard.jsx";
import { cardsSoluciones } from "../utils/infoSolucionesCards";
---

<section class="border-t border-b border-bordes">
  <div class="flex flex-col md:flex-row dynamic-container">
    <header class="w-[40%] my-8">
      <p class="text-2xl">Soluciones</p>
      <p class="text-4xl font-bold text-verde">Cloud</p>
    </header>

    <aside class="grid-soluciones-cards md:w-[60%]">
      {
        cardsSoluciones.map((card) => {
          return <SolucionesCard client:load objCard={card} />;
        })
      }
    </aside>
  </div>
</section>

<style>
  .grid-soluciones-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
</style>
