<div class="py-10">
  <section class="bg-verde">
    <div
      class="dynamic-container flex flex-col md:flex-row justify-between py-12"
    >
      <div class="pt-5">
        <img
          loading="lazy"
          class="w-10"
          src="/icons/icono-testimonios.png"
          alt="testimonios"
        />
        <p class="text-2xl">Recomendaciones de</p>
        <p class="text-azulOscuro text-4xl font-bold">Nuestros Clientes</p>
      </div>

      <aside>
        <div class="bg-white h-[300px] w-full md:w-[600px]"></div>
      </aside>
    </div>
  </section>
</div>
