---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="h-[60px] w-full"></div>

  <header class="header-bg">
    <section class="dynamic-container py-10">
      <div class="text-verde text-3xl font-bold py-2">
        <p>Antivirus</p>
        <p>Antiransomware</p>
      </div>
      <p class="text-sm text-textos max-w-[50ch]">
        En el complejo panorama digital de hoy, la protección de tu empresa es
        fundamental. Nuestros servicios de antivirus y antiransomware en
        Tecmasoft ofrecen una defensa activa contra las amenazas cibernéticas.
        Con soluciones avanzadas y actualizaciones continuas, aseguramos que tu
        empresa esté blindada contra virus y ataques de ransomware. En
        Tecmasoft, tu seguridad digital es nuestra prioridad constante.
      </p>
    </section>
  </header>

  <div class="dynamic-container py-10">
    <section
      class="flex flex-col md:flex-row gap-4 justify-between items-center"
    >
      <div class="md:w-1/2">
        <p class="text-3xl text-verde font-bold">Sophos Email</p>
        <p class="text-xl">
          Seguridad predictiva del correo electrónico en la nube con
          inteligencia artificial
        </p>
      </div>
      <aside class="w-full h-full md:w-1/2">
        <lite-youtube videoid="f6poTqtBb54" playlabel="Play: Youtube video">
        </lite-youtube>
      </aside>
    </section>

    <section class="py-10">
      <header>
        <p class="text-3xl text-verde font-bold">
          Evite las amenazas de phishing e impostores
        </p>
      </header>

      <div class="grid-articles py-10">
        <article>
          <p class="text-center font-bold py-2">
            Impida el acceso a los impostores
          </p>
          <ul class="list-disc marker:text-textos list-inside">
            <li class="text-sm text-textos">
              Identifique automáticamente sus objetivos de alto perfil para
              detectar ataques de suplantación de identidad sin malware y de
              estafa por correo electrónico corporativo comprometido y, después,
              bloquee el ataque mediante análisis con Machine Learning del
              contenido del mensaje.
            </li>
          </ul>
        </article>
        <article>
          <p class="text-center font-bold py-2">
            Deje entrar a los remitentes de confianza
          </p>
          <ul class="list-disc marker:text-textos list-inside">
            <li class="text-sm text-textos">
              Autentique a todos sus remitentes sin bloquear los mensajes de
              correo legítimos mediante técnicas de autenticación SPF, DKIM y
              DMARC y el análisis de anomalías en encabezados de correo
              electrónico.
            </li>
          </ul>
        </article>

        <article>
          <p class="text-center font-bold py-2">
            Evite que el malware llegue a la bandeja de entrada
          </p>
          <ul class="list-disc marker:text-textos list-inside">
            <li class="text-sm text-textos">
              Nuestra protección multicapa cuenta con más de 35 años de
              información sobre amenazas, análisis de reputación y
              comportamientos, y Machine Learning de vanguardia para evitar que
              el malware y las URL maliciosas lleguen a sus bandejas de entrada.
            </li>
          </ul>
        </article>

        <article>
          <p class="text-center font-bold py-2">Tecnología de Deep Learning</p>
          <ul class="list-disc marker:text-textos list-inside">
            <li class="text-sm text-textos">
              Gracias a la integración del Deep Learning, una forma avanzada de
              Machine Learning, Intercept X está cambiando la seguridad de los
              endpoints de un enfoque reactivo a uno predictivo a fin de
              proteger contra amenazas tanto conocidas como nuevas. Aunque
              muchos productos afirman utilizar el aprendizaje automático, no
              todo el aprendizaje automático se crea de la misma manera. El Deep
              Learning ha superado sistemáticamente otros modelos de Machine
              Learning en la detección de malware.
            </li>
          </ul>
        </article>

        <article>
          <p class="text-center font-bold py-2">Protección posentrega</p>
          <ul class="list-disc marker:text-textos list-inside">
            <li class="text-sm text-textos">
              Elimine automáticamente los correos electrónicos de phishing que
              contengan nuevas URL infectadas tan pronto como cambie el estado
              de la amenaza con la monitorización continua de los buzones de
              correo de Microsoft 365.
            </li>
          </ul>
        </article>
      </div>
    </section>
  </div>

  <div class="w-full h-[1px] bg-bordes my-10"></div>

  <div class="dynamic-container py-10">
    <section
      class="flex flex-col md:flex-row gap-4 justify-between items-center"
    >
      <div class="md:w-1/2">
        <p class="text-3xl text-verde font-bold">The MagicSpam</p>
        <p class="text-lg py-5">
          MagicSpam es un potente software antispam que se instala directamente
          en el servidor de correo o panel de control.
        </p>
      </div>

      <aside class="w-full md:w-1/2"></aside>
    </section>

    <section>
      <header class="py-5">
        <p class="text-xl text-verde font-bold">La diferencia de MagicSpam</p>
      </header>

      <div class="grid-articles py-10">
        <article>
          <p class="text-center font-bold py-2">Tecnología superior probada</p>
          <ul class="list-disc marker:text-textos list-inside">
            <li class="text-sm text-textos">
              Nuestra tecnología antispam protege millones de bandejas de
              entrada en todo el mundo.
            </li>
          </ul>
        </article>
        <article>
          <p class="text-center font-bold py-2">
            Fácil de instalar, aún más fácil de usar
          </p>
          <ul class="list-disc marker:text-textos list-inside">
            <li class="text-sm text-textos">
              Bloquea el spam a nivel de conexión y te brinda control total de
              tus políticas.
            </li>
          </ul>
        </article>

        <article>
          <p class="text-center font-bold py-2">
            Reduce el ancho de banda y los gastos generales
          </p>
          <ul class="list-disc marker:text-textos list-inside">
            <li class="text-sm text-textos">
              Más del 95% de todos los intentos de conectarse a su servidor
              provienen de spam. ¿Por qué procesarlo todo?
            </li>
          </ul>
        </article>

        <article>
          <p class="text-center font-bold py-2">
            Mejor protección del día CERO
          </p>
          <ul class="list-disc marker:text-textos list-inside">
            <li class="text-sm text-textos">
              MagicSpam's Mail Server Profiling stops not only 'todays' spam but
              tommorow's as well.
            </li>
          </ul>
        </article>
      </div>
    </section>
  </div>

  <div class="w-full h-[1px] bg-bordes my-10"></div>

  <div class="dynamic-container py-10">
    <section
      class="flex flex-col md:flex-row gap-4 justify-between items-center"
    >
      <div class="md:w-1/2">
        <p class="text-3xl text-verde font-bold">FortiMail</p>
        <p class="text-xl max-w-[45ch]">
          Puerta de enlace de correo electrónico segura que protege a los
          usuarios
        </p>
      </div>
      <aside class="w-full md:w-1/2">
        <lite-youtube
          class="rounded-xl"
          videoid="zm-aNQSRjBk"
          playlabel="Play: Youtube video"
        >
        </lite-youtube>
      </aside>
    </section>

    <div class="">
      <section class="flex flex-col md:flex-row gap-10 py-5">
        <div class="flex flex-col gap-4 md:w-1/2">
          <h3 class="text-xl text-verde font-bold max-w-[40ch]">
            ¿Qué es y cómo funciona FortiMail?
          </h3>
          <div class="text-textos text-sm max-w-[55ch]">
            <p>
              Si no quieres que te hackeen por medio de un simple correo
              electrónico como le pasó al primo de un amigo, no te preocupes que
              hoy te hablaremos del FortiMail. Lo primero que necesitamos saber
              es que FortiMail se integra con el famosísimo Security Fabric.
              Pero, ¿qué es y cuáles son sus características?.
            </p>
            <p>
              Cuando se integra con el Security Fabric, FortiMail implementa más
              de una docena de técnicas de inspección de contenido, protocolos y
              remitentes para proteger las redes del spam, en conjunto, estas
              técnicas bloquean el 99,98% del spam en condiciones reales. Los
              paneles de control, los informes, las cuarentenas centrales y los
              controles del usuario final en tiempo real brindan a las
              organizaciones una visibilidad total y un control sencillo del
              tráfico de correo electrónico.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>

<style>
  .header-bg {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.5019257703081232) 64%
      ),
      url("/bg/productos/antispam-banner.webp");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .grid-articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
  }
  .grid-articles-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
</style>
