---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="h-[60px] w-full"></div>

  <header class="header-bg">
    <section class="dynamic-container py-10">
      <div class="text-verde text-3xl font-bold py-2">
        <p>Firewall</p>
        <p>Comerciales</p>
      </div>
      <p class="text-sm text-textos max-w-[50ch]">
        En un mundo digital en constante evolución, la seguridad es esencial.
        Nuestros firewalls comerciales en Tecmasoft van más allá de la
        protección convencional. Con tecnología avanzada y un enfoque proactivo,
        garantizamos la seguridad de tu red empresarial. Descubre una defensa
        robusta y confiable que se adapta a los desafíos cibernéticos actuales.
        En Tecmasoft, tu seguridad es nuestra prioridad.
      </p>
    </section>
  </header>

  <div class="dynamic-container">
    <section
      class="flex flex-col md:flex-row gap-4 justify-between items-center py-10"
    >
      <div class="md:w-1/2">
        <p class="text-3xl text-verde font-bold">UTM SOPHOS XGS</p>
        <p class="text-xl">Dispositivos de firewall next-gen</p>
      </div>
      <aside class="w-full md:w-1/2">
        <lite-youtube
          class="rounded-xl"
          videoid="ygMB1z12Od8"
          playlabel="Play: Keynote (Google I/O '18)"
        >
        </lite-youtube>
      </aside>
    </section>

    <section>
      <header>
        <p class="text-3xl text-verde font-bold">Arquitectura Xstream</p>
      </header>

      <div class="grid-articles py-10">
        <article>
          <p class="text-center font-bold py-2">CUBRIMOS EL PERÍMETRO</p>
          <ul class="list-disc marker:text-textos list-inside">
            <li class="text-sm text-textos">
              Sophos Firewall lleva su red hasta donde deba llegar con una
              amplia gama de dispositivos de hardware modulares, soporte para
              plataformas virtuales y en la nube, y dispositivos perimetrales de
              acceso seguro como nuestros dispositivos SD-RED y puntos de acceso
              inalámbricos APX.
            </li>
          </ul>
        </article>
        <article>
          <p class="text-center font-bold py-2">ARQUITECTURA XSTREAM</p>
          <ul class="list-disc marker:text-textos list-inside">
            <li class="text-sm text-textos">
              Los firewalls de la serie XGS de Sophos combinan lo mejor de dos
              mundos: la flexibilidad de una CPU multinúcleo de alto rendimiento
              para la inspección detallada de paquetes con las ventajas de
              rendimiento de un procesador de flujo Xstream dedicado para la
              aceleración inteligente de aplicaciones.
            </li>
          </ul>
        </article>

        <article>
          <p class="text-center font-bold py-2">
            POTENTE PROTECCIÓN EN TODA LA GAMA DE PRECIOS
          </p>
          <ul class="list-disc marker:text-textos list-inside">
            <li class="text-sm text-textos">
              Sophos Firewall y la serie XGS ofrecen la mejor visibilidad,
              protección y rendimiento del sector. Garantizamos una protección
              sin concesiones para aplicaciones desde pequeñas sucursales hasta
              compañías distribuidas.
            </li>
          </ul>
        </article>
      </div>

      <div>
        <header>
          <p class="text-3xl text-verde font-bold">Arquitectura Xstream</p>
        </header>

        <div class="grid-articles py-10">
          <article class="bg-white rounded-xl p-4">
            <img
              class="flex h-36 object-contain justify-center w-full"
              src="/logo/aws-logo.png"
              alt="aws"
            />
            <p class="text-textos text-sm text-center">
              Como socio tecnológico avanzado de AWS, Sophos ha sido validado
              como proveedor de competencia de seguridad de AWS, vendedor de AWS
              Marketplace y socio del sector público de AWS. Sophos Firewall
              está disponible en AWS Marketplace con modelos de licencias de
              pago por uso (PAYG) y de licencias propias (BYOL) para que pueda
              adaptarlo a sus necesidades
            </p>
          </article>

          <article class="bg-white rounded-xl p-4">
            <img
              class="flex h-36 object-contain justify-center w-full"
              src="/logo/vmware-logo.png"
              alt="aws"
            />
            <p class="text-textos text-sm text-center">
              Como socio tecnológico avanzado de AWS, Sophos ha sido validado
              como proveedor de competencia de seguridad de AWS, vendedor de AWS
              Marketplace y socio del sector público de AWS. Sophos Firewall
              está disponible en AWS Marketplace con modelos de licencias de
              pago por uso (PAYG) y de licencias propias (BYOL) para que pueda
              adaptarlo a sus necesidades
            </p>
          </article>

          <article class="bg-white rounded-xl p-4">
            <img
              class="flex h-36 object-contain justify-center w-full"
              src="/logo/nutanix-logo.jpg"
              alt="aws"
            />
            <p class="text-textos text-sm text-center">
              Como socio tecnológico avanzado de AWS, Sophos ha sido validado
              como proveedor de competencia de seguridad de AWS, vendedor de AWS
              Marketplace y socio del sector público de AWS. Sophos Firewall
              está disponible en AWS Marketplace con modelos de licencias de
              pago por uso (PAYG) y de licencias propias (BYOL) para que pueda
              adaptarlo a sus necesidades
            </p>
          </article>
        </div>
      </div>
    </section>
  </div>

  <div class="w-full h-[1px] bg-bordes my-10"></div>

  <section>
    <div class="dynamic-container py-10">
      <section
        class="flex flex-col md:flex-row gap-4 justify-between items-center py-10"
      >
        <div class="md:w-1/2">
          <p class="text-3xl text-verde font-bold">UTM SOPHOS XGS</p>
          <p class="text-xl">Dispositivos de firewall next-gen</p>
        </div>
        <aside class="w-full md:w-1/2">
          <lite-youtube
            class="rounded-xl"
            videoid="rqJuVJGSef4"
            playlabel="Play: Keynote (Google I/O '18)"
          >
          </lite-youtube>
        </aside>
      </section>

      <section class="flex flex-col md:flex-row py-10 gap-10">
        <div class="w-full md:w-1/2">
          <img
            class="rounded-xl"
            src="/imagen-productos.jpg"
            alt="imagen-productos"
          />
        </div>

        <aside class="flex flex-col gap-4 md:w-1/2">
          <header>
            <p class="text-xl text-verde font-bold">UTM SOPHOS XGS</p>
          </header>
          <p class="text-sm text-textos max-w-[60ch]">
            Los FortiGate NGFW ofrecen una seguridad empresarial líder en la
            industria para cualquier borde y a cualquier escala, con visibilidad
            completa y protección contra amenazas. Las organizaciones pueden
            integrar la seguridad en su arquitectura de TI híbrida y crear redes
            basadas en la seguridad para lograr:
          </p>

          <ul
            class="list-disc marker:text-verde list-inside text-sm max-w-[60ch]"
          >
            <li>Seguridad ultrarrápida, de extremo a extremo</li>
            <li>
              Defensa consistente en tiempo real con los servicios de FortiGuard
            </li>
            <li>
              Excelente experiencia del usuario con unidades de procesamiento de
              seguridad
            </li>
            <li>Eficiencia operativa y flujos de trabajo automatizados</li>
          </ul>

          <div>
            <p class="text-sm text-textos max-w-[60ch]">
              Los FortiGate NGFW permiten que las organizaciones puedan crear
              redes de alto rendimiento, ultraescalables e impulsadas por la
              seguridad
            </p>
            <p class="text-sm text-textos max-w-[60ch]">
              Para asegurarse de que el malware no penetre en su red a través
              del tráfico cifrado, debe haber una inspección confiable y de alto
              rendimiento. Compruebe los resultados de FortiGate 7121F en una de
              las pruebas más importantes de inspección profunda SSL y
              protección contra amenazas.
            </p>
          </div>
        </aside>
      </section>
    </div>
  </section>

  <style>
    .header-bg {
      background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0.5019257703081232) 64%
        ),
        url("/bg/productos/firewall-banner.png");
      background-position: right;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .grid-articles {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 40px;
    }
    .grid-articles-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  </style>
</Layout>
