.banner-productos3 {

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5019257703081232) 64%), url("/productos/telefonia-banner.webp");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.telefonias-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.card-telefonia{
    border: solid 2px var(--bordes);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 10px;
}

.card-telefonia:hover{
    transition: 0.3s;
    background-color: var(--bordes);
}

.card-telefonia img{
    width: 100%;
    border-radius: 10px;
}

.card-telefonia h2{
    color: white;
    font-size: 15px;
    font-weight: 500;
}


.card-telefonia p{
    width: 90%;
    color: var(--verde);
    text-align: right;
    font-weight: 500;
}