.seguridad-tecnologica-introducion {
    display: flex;
    gap: 80px;
}

.titulo-pages {
    width: 50%;
}
.titulo-pages h2 {
    font-size: 30px;
    color: white;
}

.titulo-pages span {
    font-size: 40px;
    color: var(--verde);
}

.titulo-pages p {
    font-size: 13px;
    padding: 20px 0;
    max-width: 60ch;
}

.introducion-video {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.introducion-video iframe {
    width: 100%;
    aspect-ratio: 16/9;
}



.lista-article ul {
    list-style: none;
    line-height: 30px;
    color: white;
    font-size: 15px;
}

.lista-article ul li::before {
    content: "• ";
    color: var(--verde);
    font-size: 15px;
}

.dosarticleflex {
    margin-top: 40px;
    display: flex;
    gap: 80px;

}

.dosarticleuno {
    width: 50%;
}
.subtitulo-pages {
    max-width: 40ch;
    color: var(--verde);
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0;
}


.dosarticleuno p {
    font-size: 14px;
    margin: 15px 0;
    max-width: 60ch;
}



.dosarticledos {
    width: 50%;

}

.dosarticledos p {
    font-size: 14px;
    margin: 15px 0;
    max-width: 60ch;
}

.herramientas-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 60px;
}

.herramineta-card{
    max-width: 300px;
    margin: 0 auto;
}

.herramineta-card h2{
    text-align: center;
    color: white;
    font-size: 18px;
}

.herramineta-card ul{
    list-style-position: inside;
    font-size: 14px;
    
}


.herramineta-card li{
    margin-top: 10px;
}
.aside-intro-ethical{
    width: 50%;
}
.aside-intro-ethical-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

.aside-intro-ethical h2{
    font-size: 25px;
    color: white;
    font-weight: 500;
}
.card-intro-ethical p{
  color: white;
  font-size: 14px;  
}



@media screen and (max-width: 750px) {
    .seguridad-tecnologica-introducion {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .titulo-pages {
        width: 100%;
    }

    .introducion-video {
        width: 100%;

    }

    .dosarticleflex {
        flex-direction: column;
        gap: 20px;
    }

    .dosarticleuno {
        width: 100%;
    }

    .dosarticledos {
        width: 100%;
    }
    .aside-intro-ethical{
        width: 100%;
    }
}