.boton1 {
    cursor: pointer;
    background-color: var(--azul-oscuro);
    border: solid 1px var(--azul-claro);
    border-radius: 30px;
    padding: 8px 25px;
    box-shadow: 2px 12px 33px -13px rgba(14, 58, 122, 1);
    -webkit-box-shadow: 2px 12px 33px -13px rgba(14, 58, 122, 1);
    -moz-box-shadow: 2px 12px 33px -13px rgba(14, 58, 122, 1);
}

.boton1:hover {
    background-color: var(--verde);
    border: solid 1px var(--azul-claro);
    transition:  0.3s;

    box-shadow: 2px 4px 50px 0px rgba(14, 58, 122, 1);
    -webkit-box-shadow: 2px 4px 50px 0px rgba(14, 58, 122, 1);
    -moz-box-shadow: 2px 4px 50px 0px rgba(14, 58, 122, 1);
}

.boton1:hover a{
    color: var(--azul-oscuro);
}

.boton1 a {
    color: var(--verde);
    text-decoration: none;
    font-weight: 600;
}
