---
const { imgSrc, title, linkTo } = Astro.props;
---

<a href={linkTo}>
  <article
    class="h-[165px] border border-bordes p-2 flex flex-col justify-center items-center gap-4 hover:bg-bordes"
  >
    <div>
      <img
        loading="lazy"
        class="w-14 h-14 object-contain"
        src={imgSrc}
        alt="zimbra"
      />
    </div>

    <p class="text-center">{title}</p>
  </article>
</a>
