---
const { title, srcImg, linkTo } = Astro.props;
---

<a href={linkTo}>
  <article
    class="border border-bordes rounded-2xl p-3 hover:bg-bordes transition cursor-pointer"
  >
    <header>
      <img class="rounded-xl" src={srcImg} alt={title} />
    </header>
    <p class="text-sm py-2">{title}</p>
    <footer class="flex w-full justify-end">
      <p class="text-verde text-sm">Comprar</p>
    </footer>
  </article>
</a>
