.banner-servicios{
    display: flex;
    justify-content: center;
    border-top: solid 2px var(--bordes);
    border-bottom: solid 2px var(--bordes);
    border-spacing: 10px;

}
.banner-servicios-image{
    background-image: linear-gradient(0deg, rgba(3,7,18,1) 0%, rgba(8,32,64,0) 64%), url('/banner-servicios/servicio1.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
}
.image1{
    background-image: linear-gradient(0deg, rgba(3,7,18,1) 0%, rgba(8,32,64,0) 64%), url('/banner-servicios/servicio1.webp');
}
.image2{
    background-image: linear-gradient(0deg, rgba(3,7,18,1) 0%, rgba(8,32,64,0) 64%), url('/banner-servicios/backupcloud.webp');
}

.image3{
    background-image: linear-gradient(0deg, rgba(3,7,18,1) 0%, rgba(8,32,64,0) 64%), url('/banner-servicios/datacenter.jpeg');
}

.image4{
    background-image: linear-gradient(0deg, rgba(3,7,18,1) 0%, rgba(8,32,64,0) 64%), url('/banner-servicios/zabbix.jpg');
}

.image5{
    background-image: linear-gradient(0deg, rgba(3,7,18,1) 0%, rgba(8,32,64,0) 64%), url('/banner-servicios/ethical.jpg');
}

.image6{
    background-image: linear-gradient(0deg, rgba(3,7,18,1) 0%, rgba(8,32,64,0) 64%), url('/banner-servicios/zimbra.webp');
}

.banner-servicios-image p{
    color: var(--verde);
    margin: 10px 30px;
}

.banner-servicio-titulos{
    font-size: 40px;
    color: white;
    font-weight: 400;
    margin:  10px 30px;
    line-height: 45px;
}
.banner-servicio-titulos strong{
    color: var(--verde);
}

.banner-servicios-textos-caja{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.banner-servicios-textos{
    color: white;
    font-size: 10px;
}

.banner-servicios-textos{
    font-size: 15px;
    font-weight: 500;
    max-width: 38ch;
}


.banner-servicios-textos span{
    color: var(--verde);
}
.botones-banner-servicio img{
    margin: auto 6px;
    width: 35px;
    height: 35px;
}

.botones-banner-servicio img:hover{
    transition: 0.3s;
    
    opacity: 0.7;
    box-shadow: 2px 4px 50px 0px rgba(14, 58, 122, 1);
    -webkit-box-shadow: 2px 4px 50px 0px rgba(14, 58, 122, 1);
    -moz-box-shadow: 2px 4px 50px 0px rgba(14, 58, 122, 1);
}

.servicio-aside-footer{
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

@media screen and (max-width: 1000px) {
    .banner-servicios{
        display: flex;
       flex-direction: column;
    
    }
    .banner-servicios-image{
        width: 100%;
        height: 300px;
    }
    .banner-servicios-textos-caja{
        width: 90%;
        margin: auto;
    }
}