.elegir {
    width: 100%;
    background-image: url('/Recurso 5.svg');
    background-size: cover;
    border-top: solid 2px var(--bordes);
    border-bottom: solid 2px var(--bordes);
}

.elegir-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin: 10px auto 40px;
}

.elegir-titulo {
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin: 30px auto;

}

.num-circulo {
    color: var(--azul-oscuro);
    background-color: var(--verde);
    font-weight: 600;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 100%;
    margin: 20px 0px;
}

.textos-elegir h3 {
    color: white;
}

.textos-elegir p {
    font-size: 13px;
}

@media screen and (max-width: 750px) {

    .elegir-grid {
        gap: 20px;
    }

}