.footer-contenedor {
    width: 95%;
    margin: auto;
    border-top: solid 1px var(--verde);
    border-bottom: solid 1px var(--verde);
    color: white;
    margin-top: 50px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-img {
    width: 200px;
}

.footer-img img {
    width: 100%;
}

.footer-col {
    font-size: 14px;
}

.footer-col h3 {
    color: var(--verde);
}

.footer-col ul {
    list-style: none;
}

.footer-footer {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.icons-footer {
    display: flex;
    gap: 10px;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .footer-main {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-col {
        text-align: center;

    }


    .footer-footer {
        flex-direction: column;
        gap: 20px;
    }
    .icons-footer {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}