.header-principal {
    height: 100vh;
    background-image: url('/Recurso 5.svg'), radial-gradient(at center top, rgba(8, 33, 64, 0.8), rgba(3, 8, 12, 0.8));
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    text-align: center;
}

.header-principal {
    border-bottom: solid 2px var(--bordes);
}


.textos-header {
    margin: 0 auto;
}

.textos-header h1 {
    font-size: 58px;
    color: white;
    font-weight: 500;
}

.textos-header h2 {
    font-size: 24px;
    color: var(--verde);
    font-weight: 500;
}


.textos-header-subtitulo {
    font-size: 24px;
    color: var(--verde);
    font-weight: 500;
}

.textos-header p {
    font-size: 15px;
    color: white;
    font-weight: 400;
    max-width: 80ch;
}

.botones-header {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.boton1-header {
    text-decoration: none;
    color: var(--azul-oscuro);
    background-color: var(--verde);
    padding: 5px 30px;
    font-weight: 600;
    border-radius: 30px;

    box-shadow: 1px 6px 41px -16px rgba(14, 58, 122, 0.7);
    -webkit-box-shadow: 1px 6px 41px -16px rgba(14, 58, 122, 0.7);
    -moz-box-shadow: 1px 6px 41px -16px rgba(14, 58, 122, 0.7);
}

.boton1-header:hover {
    transition: 0.3s;

    box-shadow: 2px 4px 50px 0px rgba(14, 58, 122, 1);
    -webkit-box-shadow: 2px 4px 50px 0px rgba(14, 58, 122, 1);
    -moz-box-shadow: 2px 4px 50px 0px rgba(14, 58, 122, 1);
}

.boton2-header {
    text-decoration: none;
    color: var(--verde);
    background-color: var(--azul-oscuro);
    padding: 5px 30px;
    font-weight: 600;
    border-radius: 30px;

    box-shadow: 1px 6px 41px -16px rgba(14, 58, 122, 0.7);
    -webkit-box-shadow: 1px 6px 41px -16px rgba(14, 58, 122, 0.7);
    -moz-box-shadow: 1px 6px 41px -16px rgba(14, 58, 122, 0.7);
}

.boton2-header:hover{
    transition: 0.3s;

    box-shadow: 2px 4px 50px 0px rgba(14, 58, 122, 1);
    -webkit-box-shadow: 2px 4px 50px 0px rgba(14, 58, 122, 1);
    -moz-box-shadow: 2px 4px 50px 0px rgba(14, 58, 122, 1);
}

@media screen and (max-width: 750px) {

    .textos-header {
        width: 95%;
    }

    .textos-header h1 {
        font-size: 50px;
    }

    .textos-header h2 {
        font-size: 15px;
    }

    .textos-header p {
        font-size: 12px;
    }
}