.introduccion {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 90px 10px;
}

.introduccion img {
    height: 40px;
}

.introduccion p {
    font-size: 14px;
    max-width: 60ch;
}

.linea-introduccion {
    height: 100px;
    width: 1px;
    background-color: var(--verde);
}

@media screen and (max-width: 750px) {
    .introduccion {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 90px auto;
    }

    .linea-introduccion {
        width: 100px;
        height: 1px;
        background-color: var(--verde);
    }
}