.titulo-productos {
    margin: 50px auto;
    font-size: 40px;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos-grid {
    height: 100%;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card-producto1 {
    height: 275px;
    border-radius: 20px;
    border: solid 1px var(--bordes);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card-producto1:hover {
    transition: 0.3s;
    background-color: var(--bordes);

    box-shadow: 2px 4px 50px -20px rgba(14, 58, 122, 1);
    -webkit-box-shadow: 2px 4px 50px -20px rgba(14, 58, 122, 1);
    -moz-box-shadow: 2px 4px 50px -20px rgba(14, 58, 122, 1);
}

.card-producto1-icon {
    height: 55px;
    margin-bottom: 10px;
}

.card-producto1 h3 {
    text-align: center;
    color: white;
    max-width: 10ch;
    font-size: 20px;
    font-weight: 400;
}


.card-producto1 ul {
    list-style: none;
    font-size: 16px;
    max-width: 20ch;
}

.card-producto1 ul li::before {
    content: "• ";
    color: var(--verde);
    font-size: 20px;
}

.producto1-arrow {
    width: 100%;
    display: flex;
    justify-content: right;
}

.flex-grid-productos {
    display: flex;
    gap: 50px;
    margin: 40px auto;
}

.flex-grid-productos-texto {
    max-width: 270px;
    min-width: 270px;
    font-size: 14px;
}

.card-producto2 {
    border-radius: 20px;
    border: solid 1px var(--bordes);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.card-producto2:hover {
    transition: 0.3s;
    background-color: var(--bordes);

    box-shadow: 2px 4px 50px -20px rgba(14, 58, 122, 1);
    -webkit-box-shadow: 2px 4px 50px -20px rgba(14, 58, 122, 1);
    -moz-box-shadow: 2px 4px 50px -20px rgba(14, 58, 122, 1);
}

.card-producto2-icon {
    background-color: var(--verde);
    padding: 10px;
    border-radius: 20px;
    max-height: 35px;
    max-width: 35px;
}

.flex-grid-productos-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 40px;
}

@media screen and (max-width: 750px) {
    .card-producto1 {
        width: 70%;
        margin: auto;
    }

    .flex-grid-productos {
        flex-direction: column;
    }

    .flex-grid-productos-cards {
        gap: 20px;
    }

    .card-producto2 {
        width: 80%;
        margin: auto;
    }
}