.blocke-1 {
    display: flex;
    justify-content: right;
    width: 60%;
    height: 400px;
    padding-top: 25px;
    border-bottom: solid 2px var(--bordes);
    border-right: solid 2px var(--bordes);
}

.blocke-2 {
    width: 40%;
    height: 400px;
    margin-right: auto;
    border-bottom: solid 2px var(--bordes);
}

.flex-servicios {
    display: flex;
}

.titulo-servicios {
    position: absolute;
    margin-top: 40px;
}

.titulo-servicios h2 {
    font-size: 30px;
    color: white;
}

.titulo-servicios span {
    font-size: 40px;
    color: var(--verde);
}

.titulo-servicios p {
    font-size: 14px;
    max-width: 25ch;
}

.card-servicio {
    width: 250px;
    margin: 50px;
}

.card-servicio h2 {
    font-size: 25px;
    font-weight: 400;
    color: white;
    margin-top: 20px;
}

.card-servicio ul {
    list-style: none;
    line-height: 35px;
    margin-bottom: 30px;
}

.card-servicio ul li::before {
    content: "• ";
    color: var(--verde);
    font-size: 15px;
}



@media screen and (max-width: 750px) {

    .blocke-1 {
        width: 100%;
        border-right: none;
    }

    .blocke-2 {
        width: 100%;
    }

    .flex-servicios {
        flex-direction: column;
    }

    .titulo-servicios {
        position: static;
        margin-bottom: 40px;
    }

    .titulo-servicios p {
        font-size: 14px;
        max-width: 100ch;
    }

    .card-servicio {
        width: 70%;
        margin: 10px auto;
    }

}