---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="h-[60px] w-full"></div>
  <div class="dynamic-container md:pt-10">
    <section
      class="flex flex-col md:flex-row w-full justify-between gap-10 py-10"
    >
      <article class="md:w-1/2">
        <header>
          <p class="text-3xl">Sistema de</p>
          <p class="text-4xl text-verde font-bold">Ticket e Inventario</p>
        </header>
        <div class="text-sm text-textos py-4 max-w-[55ch]">
          <p>
            Magnífico software que nos permitirá controlar el hardware de
            nuestra compañía de manera fácil, y no sólo eso, incluso podremos
            crear un potente sistema de tickets con nuestro usuario, con
            seguimiento de incidencias.
          </p>
        </div>
      </article>

      <aside class="md:w-1/2">
        <lite-youtube
          class="rounded-xl"
          videoid="irPFqIXpFtw"
          playlabel="Play: Youtube video"
        >
        </lite-youtube>
      </aside>
    </section>

    <section class="flex flex-col md:flex-row gap-10 py-5">
      <div class="flex flex-col gap-4 md:w-1/2">
        <h3 class="text-xl text-verde font-bold max-w-[40ch]">¿QUÉ ES GLPI?</h3>

        <p class="text-textos text-sm">
          GLPI, es una herramienta web en software libre que ofrece una gestión
          integral del inventario informático de una empresa además de incluir
          un sistema de gestión de incidencias (ticketing / helpdesk). La
          herramienta está desarrollada para entornos LAMP (Apache-PHP-MySQL),
          por lo que puede ser instalada tanto en servidores Windows como Linux
          y su fácil instalación y manejo permite gestionar todo el soporte y
          mantenimiento de una empresa de una manera rápida y sencilla, por lo
          que el despliegue y la puesta en marcha son bastante reducidos. Este
          doble papel de gestor de inventario (equipos, servidores, periféricos,
          licencias de software, topología de red, reserva de recursos
          compartidos, etc) y helpdesk para el seguimiento de intervenciones,
          permite a los administradores, y al personal de soporte, vincular las
          intervenciones realizadas a Usuarios y a equipos, generándose así un
          historial completo del mantenimiento realizado.
        </p>
      </div>
      <aside class="flex flex-col gap-4 md:w-1/2">
        <h3 class="text-xl text-verde font-bold">
          Cómo proteger a tu empresa?
        </h3>
        <p class="text-textos text-sm">
          La mejor manera de dotar de seguridad perimetral informática a tu
          empresa es contratando los servicios de una empresa con experiencia
          como Perú Linux Ayudamos a establecer y gestionar los sistemas de tu
          empresa mediante:
        </p>
        <ul
          class="flex flex-col gap-2 list-disc marker:text-verde list-inside text-sm max-w-[55ch]"
        >
          <li>Un diseño de una topología red adecuada</li>
          <li>Recomendaciones de soluciones eficientes</li>
          <li>
            Instalación y configuración de elementos red que sean necesarios
          </li>
          <li>
            Proporción de soporte y equipos para el seguimiento y la
            administración de la red
          </li>
        </ul>
      </aside>
    </section>

    <section class="py-10">
      <h3 class="text-xl text-verde font-bold max-w-[40ch]">
        Herramientas de seguridad
      </h3>

      <div class="herramientas-grid">
        <article>
          <p class="text-xl font-bold text-center">A Nivel de Inventario</p>
          <ul
            class="list-disc marker:text-textos list-inside text-textos text-sm"
          >
            <li>
              Detección, Registro y Monitoreo de servidores, ordenadores,
              impresoras, multifuncionales, y prácticamente cualquier otro
              dispositivo u equipo de red, mediante la complementación de otras
              herramientas como OCS Inventory y FusionInventory.
            </li>
            <li>
              Gestión de información técnica, comercial y financiera, generación
              de reportes y solicitudes, o carga de documentos relacionados con
              los ítems del inventario gestionado, tanto de equipos, piezas,
              consumibles u otros materiales relacionados.
            </li>
          </ul>
        </article>
        <article>
          <p class="text-xl font-bold text-center">A Nivel de Estadísticas</p>
          <ul
            class="list-disc marker:text-textos list-inside text-textos text-sm"
          >
            <li>
              Generación de estadísticas globales o por categorías, tales como:
              Por técnico, hardware, usuario, entre otros.
            </li>
            <li>
              Generación de Informes exportables en diversos formatos (PNG, SVG,
              CSV).
            </li>
          </ul>
        </article>

        <article>
          <p class="text-xl font-bold text-center">
            A Nivel de Gestión de la Información
          </p>
          <ul
            class="list-disc marker:text-textos list-inside text-textos text-sm"
          >
            <li>
              Permite la creación y uso de una sección de "Base de Datos de
              Conocimientos" y "Preguntas Frecuentes".
            </li>
            <li>
              Facilita la administración de los contenidos mediante el manejo de
              los usuarios (perfiles, grupos, entre otros).
            </li>
            <li>
              Posee una Interfaz de usuario (UI) simplificada y orientada a
              servicios.
            </li>
            <li>
              Ofrece la visualización de una línea de tiempo y del ciclo de vida
              (asignación, planificación, validación, tareas, seguimientos,
              soluciones, entre otros) de los tickets abiertos por incidentes o
              solicitudes de servicio.
            </li>
            <li>
              Permite la creación y/o actualización de tickets vía correo
              electrónico IMAP / POP.
            </li>
            <li>
              Posee un juego de plantillas de tickets predefinidos para
              incidentes, solicitud de servicio, soluciones, y tareas.
            </li>
            <li>
              Facilita el manejo de la aplicación bajo criterios de
              disponibilidad y horas de atención.
            </li>
            <li>
              Ofrece el manejo de Acuerdos de niveles de servicio (SLA),
              Objetivo de nivel de servicio (SLT) y Acuerdo de nivel operacional
              (OLA).
            </li>
          </ul>
        </article>
      </div>
    </section>
  </div>

  <div class="w-full h-[1px] bg-bordes my-10"></div>

  <div class="dynamic-container md:pt-10">
    <section
      class="flex flex-col md:flex-row w-full justify-between gap-10 py-10"
    >
      <article class="md:w-1/2">
        <header>
          <p class="text-4xl text-verde font-bold">ALFRESCO</p>
        </header>
        <div class="text-sm text-textos py-4 max-w-[55ch]">
          <p>
            Alfresco ofrece innovadoras soluciones de gestión de contenido que
            conectan, gestionan y protegen la información más importante de la
            empresa, independientemente de su ubicación. Con el sistema de ECM
            nativo de la nube de Alfresco, puede gestionar el contenido desde
            cualquier lugar, conectar la información con los usuarios en
            cualquier ubicación y permitir acceso a las aplicaciones con
            cualquier dispositivo. Alfresco permite a las empresas aumentar la
            productividad de los trabajadores, gestionar información de valor y
            ofrecer experiencias excepcionales a los clientes.
          </p>
        </div>
      </article>

      <aside class="md:w-1/2">
        <lite-youtube
          class="rounded-xl"
          videoid="ltnVCLKTCns"
          playlabel="Play: Youtube video"
        >
        </lite-youtube>
      </aside>
    </section>

    <section class="py-10">
      <article class="flex flex-col md:flex-row gap-10">
        <div class="md:w-1/2">
          <header>
            <p class="text-4xl text-verde font-bold">
              Capacidades ECM de Alfresco
            </p>
          </header>

          <div class="text-sm text-textos py-4 max-w-[55ch]">
            <p>
              Los expertos en seguridad informática aplican varios métodos y
              técnicas para proteger a dichos sistemas de cualquier ataque de
              hackers o crackers malintencionados para evitar que estos roben o
              borren información. Uno de esos métodos es el Ethical Hacking. El
              objetivo fundamental del Ethical Hacking es explotar las
              vulnerabilidades existentes en los sistemas, haciendo pruebas de
              intrusión, que sirven para verificar y evaluar la seguridad física
              y lógica de los sistemas de información, redes de computadoras,
              aplicaciones web, bases de datos, servidores, etc. Esta técnica
              logra el acceso y demuestra si un sistema es vulnerable o no. Esta
              información sirve para tomar medidas preventivas en contra de
              ataques. Un Hacker Ético es una persona que realiza pruebas de
              penetración. Es un experto en computadoras y redes de datos cuya
              función es atacar los sistemas de seguridad en nombre de los
              dueños con la intención de buscar y encontrar vulnerabilidades
              actuando de forma igual o al menos similar y utilizan los mismos
              métodos que usaría un hacker con intención de atacar el sistema.
              En pocas palabras vulneran y entran a los sistemas empresariales
              para reportar vulnerabilidades, en lugar de robarla o borrarla.
              Las pruebas de penetración permiten: evaluar vulnerabilidades,
              analizar y categorizar las debilidades explotadas y proveer
              recomendaciones en base a las prioridades de la organización y por
              último eliminar dichas vulnerabilidades.
            </p>
          </div>
        </div>
        <aside class="md:w-1/2">
          <header>
            <p class="text-xl font-semibold">Capacidades ECM de Alfresco</p>
          </header>

          <div class="grid grid-cols-2 gap-4 pt-10">
            <article class="flex flex-col gap-4">
              <div
                class="p-1 bg-verde rounded-full w-9 aspect-square flex justify-center items-center text-azulOscuro font-semibold"
              >
                01
              </div>

              <p class="text-sm">Gestion de documentos</p>
            </article>

            <article class="flex flex-col gap-4">
              <div
                class="p-1 bg-verde rounded-full w-9 aspect-square flex justify-center items-center text-azulOscuro font-semibold"
              >
                02
              </div>

              <p class="text-sm">Escaneado y captura de documentos</p>
            </article>

            <article class="flex flex-col gap-4">
              <div
                class="p-1 bg-verde rounded-full w-9 aspect-square flex justify-center items-center text-azulOscuro font-semibold"
              >
                03
              </div>

              <p class="text-sm">Colaboracion empresarial</p>
            </article>

            <article class="flex flex-col gap-4">
              <div
                class="p-1 bg-verde rounded-full w-9 aspect-square flex justify-center items-center text-azulOscuro font-semibold"
              >
                04
              </div>

              <p class="text-sm">Gobierno de la informacion</p>
            </article>
            <article class="flex flex-col gap-4">
              <div
                class="p-1 bg-verde rounded-full w-9 aspect-square flex justify-center items-center text-azulOscuro font-semibold"
              >
                05
              </div>

              <p class="text-sm">Inteligencia y análisis</p>
            </article>
          </div>
        </aside>
      </article>
    </section>

    <section class="py-10">
      <article class="flex flex-col md:flex-row gap-10">
        <div class="md:w-1/2">
          <header>
            <p class="text-4xl text-verde font-bold">
              Características del sistema ECM de Alfresco
            </p>
          </header>

          <div class="text-sm text-textos py-4 max-w-[55ch]">
            <p>
              Como una plataforma ECM flexible y escalable, Alfresco Content
              Services admite una serie de casos de uso, como los servicios de
              contenido, la gobernanza de la información, la búsqueda e
              información contextual, la fácil integración con las principales
              aplicaciones empresariales y mucho más.
            </p>
          </div>
        </div>
      </article>
    </section>

    <style>
      .herramientas-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-top: 60px;
        gap: 40px;
      }
    </style>
  </div></Layout
>
