---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="h-[60px] w-full"></div>
  <div class="dynamic-container md:pt-10">
    <section
      class="flex flex-col md:flex-row w-full justify-between gap-10 py-10"
    >
      <article class="md:w-1/2">
        <header>
          <p class="text-3xl">Seguridad</p>
          <p class="text-4xl text-verde font-bold">Perimetral</p>
        </header>
        <div class="text-sm text-textos py-4 max-w-[55ch]">
          <p>
            La evolución de la tecnología y la constante demanda de seguridad
            han permitido que los sistemas de seguridad perimetral en redes
            evolucionen para ofrecer una mayor confiabilidad a los usuarios
            sobre la transparencia y protección de su información para el acceso
            de diferentes servicios.
          </p>
          <p>
            Hoy en día existen muchas personas que usan sus conocimientos y
            ética profesional de una forma incorrecta al ingresar a redes
            informáticas restringidas ocasionado pérdidas multimillonarias
            alrededor del mundo.
          </p>
          <p>
            La seguridad perimetral de una empresa es primordial. Los ataques
            por red y pérdidas de información ocasionan un gran trastorno y no
            solo la imagen si no también el funcionamiento y progreso de una
            empresa se ven afectados. Una plataforma robusta para el control de
            accesos y protección de los servicios informáticos garantiza un
            correcto aprovechamiento de la infraestructura y garantiza la
            integridad y confidencialidad de la información.
          </p>
        </div>
      </article>

      <aside class="md:w-1/2">
        <lite-youtube
          class="rounded-xl"
          videoid="mcTCrTneeco"
          playlabel="Play: Keynote (Google I/O '18)"
        >
        </lite-youtube>
      </aside>
    </section>

    <section class="flex flex-col md:flex-row gap-10 py-5">
      <div class="flex flex-col gap-4 md:w-1/2">
        <h3 class="text-xl text-verde font-bold max-w-[40ch]">
          Funciones de una buena seguridad perimetral informática
        </h3>

        <p class="text-textos text-sm">
          La seguridad perimetral que protege tus redes debe cumplir cuatro
          funciones básicas:
        </p>

        <ul
          class="flex flex-col gap-2 list-disc marker:text-verde list-inside text-sm max-w-[55ch]"
        >
          <li>Resistir a los ataques externos</li>
          <li>Identificar los ataques sufridos y alertar de ellos</li>
          <li>
            Aislar y segmentar los distintos servicios y sistemas en función de
            su exposición a ataques
          </li>
          <li>
            Filtrar y bloquear el tráfico, permitiendo únicamente aquel que sea
            absolutamente necesario
          </li>
        </ul>
      </div>
      <aside class="flex flex-col gap-4 md:w-1/2">
        <h3 class="text-xl text-verde font-bold">
          Cómo proteger a tu empresa?
        </h3>
        <p class="text-textos text-sm">
          La mejor manera de dotar de seguridad perimetral informática a tu
          empresa es contratando los servicios de una empresa con experiencia
          como Perú Linux Ayudamos a establecer y gestionar los sistemas de tu
          empresa mediante:
        </p>
        <ul
          class="flex flex-col gap-2 list-disc marker:text-verde list-inside text-sm max-w-[55ch]"
        >
          <li>Un diseño de una topología red adecuada</li>
          <li>Recomendaciones de soluciones eficientes</li>
          <li>
            Instalación y configuración de elementos red que sean necesarios
          </li>
          <li>
            Proporción de soporte y equipos para el seguimiento y la
            administración de la red
          </li>
        </ul>
      </aside>
    </section>

    <section class="py-10">
      <h3 class="text-xl text-verde font-bold max-w-[40ch]">
        Herramientas de seguridad perimetral informática
      </h3>

      <div class="herramientas-grid">
        <article>
          <p class="text-xl font-bold text-center">Firewall</p>
          <ul
            class="list-disc marker:text-textos list-inside text-textos text-sm"
          >
            <li>Control de tráfico de red desde y a hacia Internet.</li>
            <li>Protección contra ataques externos.</li>
            <li>Control de usuarios.</li>
            <li>Generación y administración de VPN´s.</li>
            <li>
              Conexión para equipos remotos (portátiles y dispositivos móviles).
            </li>
            <li>Gestión de ancho de banda de internet.</li>
          </ul>
        </article>
        <article>
          <p class="text-xl font-bold text-center">
            Sistemas de Detección de Intrusos (IDS)
          </p>
          <ul
            class="list-disc marker:text-textos list-inside text-textos text-sm"
          >
            <li>
              Un IDS puede compartir u obtener información de otros sistemas
              como firewalls, routers y switches, lo que permite reconfigurar
              las características de la red de acuerdo a los eventos que se
              generan. También permite que se utilicen protocolos como SNMP
              (Simple Network Management Protocol) para enviar notificaciones y
              alertas a otras máquinas de la red. Esta característica de los IDS
              recibe el nombre de interoperabilidad.
            </li>
          </ul>
        </article>

        <article>
          <p class="text-xl font-bold text-center">
            Monitorización del Perímetro: Detección y Prevención de Intrusos
          </p>
          <ul
            class="list-disc marker:text-textos list-inside text-textos text-sm"
          >
            <li>
              Un perímetro de la red es el límite entre la esfera privada y de
              gestión local y propiedad de una red y el público en general y
              proveedores gestionados lado de la red y su monitorización es
              imprescindible para llevar un buen control de cualquier equipo que
              quiera entrar en la red de la empresa.
            </li>
            <li>
              Para monitorizar la red perimetral y prevenir la intrusión hay
              varios métodos como pueden ser:
            </li>
          </ul>
        </article>

        <article>
          <p class="text-xl font-bold text-center">
            Redes Privadas Virtuales (VPN)
          </p>
          <ul
            class="list-disc marker:text-textos list-inside text-textos text-sm"
          >
            <li>Sistemas de Detección de Intrusos.</li>
            <li>IPS</li>
            <li>Control de usuarios.</li>
            <li>Antivirus corporativo</li>
            <li>Medidas de seguridad contra virus.</li>
            <li>Mecanismos Activo y Pasivos+</li>
          </ul>
        </article>

        <article>
          <p class="text-xl font-bold text-center">IDS</p>
          <ul
            class="list-disc marker:text-textos list-inside text-textos text-sm"
          >
            <li>
              Las redes de área local (LAN) son las redes internas de las
              organizaciones, es decir las conexiones entre los equipos de una
              organización particular. Estas redes se conectan cada vez con más
              frecuencia a Internet mediante un equipo de interconexión. Muchas
              veces, las empresas necesitan comunicarse por Internet con
              filiales, clientes o incluso con el personal que puede estar
              alejado geográficamente.
            </li>
          </ul>
        </article>
        <article>
          <p class="text-xl font-bold text-center">WEBFILTER</p>
          <ul
            class="list-disc marker:text-textos list-inside text-textos text-sm"
          >
            <li>
              El servicio de filtrado web proporciona un control visual y fácil
              sobre los sitios web que los usuarios visitan.
            </li>
            <li>
              Funciona a través de un cortafuegos que bloquea descargas de
              malware, virus y el acceso a recursos que podrían comprometer la
              seguridad de la conexión.
            </li>
            <li>
              La falta de control sobre las actividades en Internet de los
              usuarios puede originar problemas de seguridad en muchas empresas.
            </li>
            <li>
              Destaca la importancia del control de la navegación web,
              permitiendo a los usuarios seleccionar categorías de páginas para
              bloquear o permitir. Se recomienda la contratación de Perú Linux
              para gestionar la seguridad informática perimetral, incluyendo
              diseño de topología de red, soluciones eficientes, instalación y
              configuración de elementos de red, y soporte continuo.
            </li>
          </ul>
        </article>
      </div>
    </section>
  </div>

  <div class="w-full h-[1px] bg-bordes my-10"></div>

  <div class="dynamic-container pt-10">
    <section class="py-10">
      <article class="flex flex-col md:flex-row gap-10">
        <div class="md:w-1/2">
          <header>
            <p class="text-3xl">Seguridad</p>
            <p class="text-4xl text-verde font-bold">Perimetral</p>
          </header>

          <div class="text-sm text-textos py-4 max-w-[55ch]">
            <p>
              Los expertos en seguridad informática aplican varios métodos y
              técnicas para proteger a dichos sistemas de cualquier ataque de
              hackers o crackers malintencionados para evitar que estos roben o
              borren información. Uno de esos métodos es el Ethical Hacking.
            </p>
            <p>
              El objetivo fundamental del Ethical Hacking es explotar las
              vulnerabilidades existentes en los sistemas, haciendo pruebas de
              intrusión, que sirven para verificar y evaluar la seguridad física
              y lógica de los sistemas de información, redes de computadoras,
              aplicaciones web, bases de datos, servidores, etc. Esta técnica
              logra el acceso y demuestra si un sistema es vulnerable o no.
            </p>
            <p>
              Esta información sirve para tomar medidas preventivas en contra de
              ataques. Un Hacker Ético es una persona que realiza pruebas de
              penetración. Es un experto en computadoras y redes de datos cuya
              función es atacar los sistemas de seguridad en nombre de los
              dueños con la intención de buscar y encontrar vulnerabilidades
              actuando de forma igual o al menos similar y utilizan los mismos
              métodos que usaría un hacker con intención de atacar el sistema.
            </p>
            <p>
              En pocas palabras vulneran y entran a los sistemas empresariales
              para reportar vulnerabilidades, en lugar de robarla o borrarla.
              Las pruebas de penetración permiten: evaluar vulnerabilidades,
              analizar y categorizar las debilidades explotadas y proveer
              recomendaciones en base a las prioridades de la organización y por
              último eliminar dichas vulnerabilidades.
            </p>
          </div>
        </div>
        <aside class="md:w-1/2">
          <header>
            <p class="text-xl font-semibold">
              Los beneficios que ofrece el <strong class="font-bold"
                >Ethical Hacking</strong
              > son:
            </p>
          </header>

          <div class="grid grid-cols-2 gap-4 pt-10">
            <article class="flex flex-col gap-4">
              <div
                class="p-1 bg-verde rounded-full w-9 aspect-square flex justify-center items-center text-azulOscuro font-semibold"
              >
                01
              </div>

              <p class="text-sm">
                Otorgar un panorama acerca de las vulnerabilidades encontradas
                para tomar medidas.
              </p>
            </article>

            <article class="flex flex-col gap-4">
              <div
                class="p-1 bg-verde rounded-full w-9 aspect-square flex justify-center items-center text-azulOscuro font-semibold"
              >
                02
              </div>

              <p class="text-sm">
                Evidencia configuraciones inadecuadas en las aplicaciones
                instaladas.
              </p>
            </article>

            <article class="flex flex-col gap-4">
              <div
                class="p-1 bg-verde rounded-full w-9 aspect-square flex justify-center items-center text-azulOscuro font-semibold"
              >
                03
              </div>

              <p class="text-sm">
                Identifica a qué sistemas les hacen falta actualizaciones.
              </p>
            </article>

            <article class="flex flex-col gap-4">
              <div
                class="p-1 bg-verde rounded-full w-9 aspect-square flex justify-center items-center text-azulOscuro font-semibold"
              >
                04
              </div>

              <p class="text-sm">
                Disminuir el tiempo y esfuerzo requeridos para afrontar
                situaciones de riesgo.
              </p>
            </article>
          </div>
        </aside>
      </article>
    </section>
  </div>

  <div class="w-full h-[1px] bg-bordes my-10"></div>

  <div class="dynamic-container pt-10">
    <section class="py-10">
      <article class="flex flex-col md:flex-row gap-10">
        <div class="md:w-1/2">
          <header>
            <p class="text-4xl text-verde font-bold">Ciberseguridad</p>
          </header>

          <div class="text-sm text-textos py-4 max-w-[55ch]">
            <p>
              La ciberseguridad es la práctica de defender las computadoras, los
              servidores, los dispositivos móviles, los sistemas electrónicos,
              las redes y los datos de ataques maliciosos. También se conoce
              como seguridad de tecnología de la información o seguridad de la
              información electrónica.
            </p>
            <p>
              El término se aplica en diferentes contextos, desde los negocios
              hasta la informática móvil, y puede dividirse en algunas
              categorías comunes. La seguridad de red es la práctica de proteger
              una red informática de los intrusos, ya sean atacantes dirigidos o
              malware oportunista.
            </p>
            <p>
              La seguridad de las aplicaciones se enfoca en mantener el software
              y los dispositivos libres de amenazas. Una aplicación afectada
              podría brindar acceso a los datos que está destinada a proteger.
              La seguridad eficaz comienza en la etapa de diseño, mucho antes de
              la implementación de un programa o dispositivo.
            </p>
          </div>
        </div>
        <aside class="md:w-1/2">
          <header>
            <p class="text-xl font-semibold">
              Las amenazas a las que se enfrenta la <strong class="font-bold"
                >Ciberseguridad</strong
              > son tres:
            </p>
          </header>

          <div class="grid grid-cols-2 gap-4 pt-10">
            <article class="flex flex-col gap-4">
              <div
                class="p-1 bg-verde rounded-full w-9 aspect-square flex justify-center items-center text-azulOscuro font-semibold"
              >
                01
              </div>

              <p class="text-sm">
                El delito cibernético incluye agentes individuales o grupos que
                atacan a los sistemas para obtener beneficios financieros o
                causar interrupciones.
              </p>
            </article>

            <article class="flex flex-col gap-4">
              <div
                class="p-1 bg-verde rounded-full w-9 aspect-square flex justify-center items-center text-azulOscuro font-semibold"
              >
                02
              </div>

              <p class="text-sm">
                Los ciberataques a menudo involucran la recopilación de
                información con fines políticos.
              </p>
            </article>

            <article class="flex flex-col gap-4">
              <div
                class="p-1 bg-verde rounded-full w-9 aspect-square flex justify-center items-center text-azulOscuro font-semibold"
              >
                03
              </div>

              <p class="text-sm">
                EL CIBERTERRORISMO tiene como objetivo debilitar los sistemas
                electrónicos para causar pánico o temor.
              </p>
            </article>
          </div>
        </aside>
      </article>
    </section>
  </div>
</Layout>

<style>
  .herramientas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 60px;
    gap: 40px;
  }
</style>
